@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #09090b; /* Fundo Escuro */
  color: white;
  font-family: system-ui, -apple-system, sans-serif;
}
/* Esconde barra de rolagem para parecer app */
::-webkit-scrollbar { width: 0px; background: transparent; }